################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MelonBark.github.io/FileContentIndex/c063182a-d05e-4412-8e90-8f9d9b003a66.vsidx
/.vs/MelonBark.github.io/FileContentIndex/read.lock
/.vs/MelonBark.github.io/FileContentIndex/17531010-7493-4074-b296-ae6939be289a.vsidx
/.vs/MelonBark.github.io/FileContentIndex/23962485-9111-4a9a-8f5d-2122d7ba94ba.vsidx
/.vs/MelonBark.github.io/FileContentIndex/3b11d26e-a0d1-460b-85f0-571cd465d3d3.vsidx
/.vs/MelonBark.github.io/FileContentIndex
/.vs/slnx.sqlite
/.vs/MelonBark.github.io/v17/.wsuo
/.vs/VSWorkspaceState.json
/.vs