body {
    font-family: Arial, Helvetica, sans-serif;
    /*position: relative;*/
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: black;
    transition: height 0.3s;
}

footer {
    position: absolute;
    bottom: 0;
    color: #85858B;
    font-size: .75em;
}

.footer a {
    display: inline-block;    
    color: #85858B;
    text-decoration: none;
    margin: 1em;
}

.footer img {
    height: 20px;
    clear: both;
}


.footerLinks {
    display: block;
}

.copyright {
    margin-left: 1em;
    display: block;
    margin-bottom: 4em;
}

@media (max-width: 480px) {
    .nav-items {
        display: none;
    }

    .hamburger {
        display: block;
        visibility: visible;
    }
}

.logo {
    float: left;
    padding: 0px 20px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100px;
    max-height: 80px;
    max-width: 100%;
    height: 100%;
}

.logo img {
    height: 40px;
}

nav {
    height: 100%;
}

.nav-items {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}

    .nav-items a {
        margin: 0 10px;
        color: white;
        text-decoration: none;
        font-size: 16px;
    }

.hamburger {
    display: none;
    float: right;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    visibility: hidden;
    /*TODO: Figure out why display: none; seems to be having no effect with media queries.*/
}

.hamburger img {
   height: 24px;
   width: 24px;
}

footer {
    width: 100%;
}

.footerTop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.footerNav {
    display: flex;
    width: 60%;
    
}

.footerMenu {
    float: left;
    flex-basis: 100%;
    margin-bottom: 5em;
}

.footerHeader {
    font-weight: bold;
    color: black;
    font-size: 1.5em;
}

.footerSignup {
    font-weight: bold;
    color: black;
    font-size: 1.5em;
    margin: 2em;
    align-content: center;
}

.footerSignupForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #86868b;
    margin: 2em;
}

input {
    border: none;
    outline: 0;
    margin: .5em;
}

.footerSubmenu {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.footerSubmenu a {
    margin-top: 1em;
    text-decoration: none;
    color: #000;
}

.footerSocial {
}

.footerSocialLinks {
    margin-top: 1em;
}

.footerSocial a {
    margin-right: 1em;
}

@media only screen and (max-width: 768px) {
    .footerTop {
        flex-direction: column;
    }
    
    .footerSignupForm {
        padding: 2rem;
        text-align: center;
    }

    .submenu {
        text-align: center;
        margin-bottom: 4rem;
        padding-right: 0;
    }

    header {
        height: 60px;
    }

    .hamburger {
        display: none;
        visibility: hidden;
    }
}
